# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

xgcerp/accounts/               @dzbrody
xgcerp/assets/                 @dzbrody
xgcerp/regional                @dzbrody
xgcerp/selling                 @dzbrody
xgcerp/support/                @dzbrody

xgcerp/buying/                 @dzbrody
xgcerp/maintenance/            @dzbrody
xgcerp/manufacturing/          @dzbrody
xgcerp/quality_management/     @dzbrody
xgcerp/stock/                  @dzbrody
xgcerp/subcontracting          @dzbrody

xgcerp/controllers/            @dzbrody
xgcerp/patches/                @dzbrody

.github/                        @@dzbrody
pyproject.toml                  @dzbrody
